* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #859398, #283048);
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

.slider {
  width: 1000px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 1000px;
  height: 700px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  font-size: 3em;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 70% auto;
  
  grid-template-areas: 
    "sheader"
    "smain"
    "sfooter";
}

.slide > header {
  grid-area: sheader;
}

.slide > section {
  grid-area: smain;
  font-size: 0.4em;
  line-height: 0.9em;
  margin: auto;
  text-align: left;
}

.slide > footer {
  grid-area: sfooter;
}

.slide > footer > progress {
  width: 300px;
  height: 10px;
}

.slide > header > h1 {
  margin: auto;
}
