.slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}
.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
}
.slides > div {
  scroll-snap-align: start;
}
