<!DOCTYPE html>

<html>
  <head>
    {% include common_head.html %}
  </head>

  <body>
    <a class="top-link" title="Back to main page" href="/">to main page &uarr;</a>
    <div class="post-content">
      <h1 class="post-title">
        {{page.title}}
      </h1>
      <span class="in-post-date">{{page.date | date:"%d %b, %Y"}}</span>
      <span class="post-tags">#{{page.tags | join:", #"}}</span>
      <div class="post-body">{{content}}</div>
    </div>

    <p class="post-list">
      <small>(C) Leonid Vasilyev, 2011-2026. Content under
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC-4.0</a>.
          <a target="_blank" href="{% link posts.xml %}">Atom Feed 🗞️</a></small>
    </p>
  </body>
</html>

